body{
    background-color: purple;
}
.donatello1{
    background-color: red;
}
.donatello2{
    background-color: gold;
}
.donaltello3{
    background-color: chartreuse;
}
.donatello4{
    background-color: darkblue;
}