body{
    background-color: blue;
}
.leonardo1{
    background-color: red;
}
.leonardo2{
    background-color: yellow;
}
.leonardo3{
    background-color: chartreuse;
}
leonardo4{
    background-color: darkblue;
}