body{
    background-color: blue;
}
.tmnt{
    background-color: red;
}
.leonardo{
    background-color: darkblue;
}
.raphael{
    background-color: darkred;
}
.donatelo{
    background-color: purple;
}
.michelangelo{
    background-color: darkorange;
}
.senseisplinter{
    background-color: brown;
}