body{
    background-color: darkorange;
}
.michelangelo1{
    background-color: red;
}
.michelangelo2{
    background-color: yellow;
}
.michelangelo3{
    background-color: chartreuse;
}
.michelangelo4{
    background-color: blue;
}