body{
    background-color: darkred;
}
.raphael1{
    background-color: red;
}
.raphael2{
    background-color: gold;
}
.raphael3{
    background-color: chartreuse;
}
.raphael4{
    background-color: blue;
}