body{
    background-color: brown;
}
.mastersplinter1{
    background-color: red;
}
.mastersplinter{
    background-color: darkorange;
}
.mastersplinter3{
    background-color: chartreuse;
}
.masterspliner4{
    background-color: darkblue;
}